* {
  margin: 0;
  font-family: 'Skranji', cursive;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-size: 100px;
  font-weight: bold;
  text-align: center;
  color: #000;
  background-color: rgb(255, 0, 0);
  width: 100%;
  padding: 20px;
  position: relative;
  margin-top: 100px;
  margin-bottom: 50px;
}

h2 {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  color: #000;
  background-color: rgb(255, 0, 0);
  width: 100%;
  padding: 20px;
  margin-bottom: 50px;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #000;
}

section {
  padding-top: 70px;
}

.section-heading {
  background-color: rgb(255, 0, 0);
  font-size: 32px;
  font-weight: bold;
  color: white;
  margin-bottom: 25px;

}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 25px;
  gap: 20px;
}

img {
  width: 300px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-left: 10px;
  margin-bottom: 25px;
}

.logo {
  width: 500px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: block;
  margin: 0 auto;
  margin-bottom: 25px;
}

h3 {
  font-size: 25px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 25px;
  margin-left: 10px;
}

.welcome-text {
  text-align: center;
  font-size: 30px;
}

p {
  font-size: 20px;
  color: #fff;
  margin-bottom: 25px;
  margin-left: 10px;
}

span {
  font-weight: bold;
  color: rgb(255, 0, 0);
}

.order-button {
  cursor: pointer;
  font-size: large;
  margin-bottom: 25px;
  margin-left: 10px;
  height: 50px;
  width: 100px;
  border-radius: 5px;
  border: 1px solid white;
  background-color: rgb(255, 0, 0);
  font-weight: bold;
  color: #000;
  transition: all 0.5s ease;
}

.order-button:hover {
  background-color: #fff;
  color: black;
  border: 1px solid black;
  opacity: 0.5;
}

.navbar {
  background-color: rgb(255, 0, 0);
  padding: 15px 0;
  text-align: center;
  margin-bottom: 25px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;

}

.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  gap: 30px;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

.navbar a:hover {
  color: black;
}

.footer {
  background-color: rgb(255, 0, 0);
  color: white;
  text-align: center;
  padding: 20px;
  bottom: 0;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.footer p {
  margin: 10px 0;
  color: #fff;
}

.social-media {
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-media a {
  font-size: 42px;
  color: white;
  text-decoration: none;
}

@media screen and (max-width: 627px) {
  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 20px;
  }

  .image-container {
    padding: 0 10px;
  }

  img {
    width: 45%;
    height: auto;
    margin-left: 0;
  }

  .logo {
    width: 100%;
    height: auto;
  }

  .navbar {
    padding: 10px 0;
    justify-content: center;
  } 

  .navbar ul {
    justify-content: center !important;
  }

  .navbar a {
    font-size: 16px;
  }

  .order-button {
    width: 90%;
    margin: 10px auto;
    padding: 10px 20px;
    font-size: medium;
    display: block;
  }

  .footer {
    padding: 10px;
  }

  .social-media a {
    font-size: 30px;
  }

  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid-container img {
    width: 100%;
    height: auto;
  }

  p, h1, h2, h3, .section-heading, .description  {
    margin-left: 0;
    margin-right: 0;
    text-align: center;
  }

}